{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
    <h1 id="question">
        What's the one where John and Merlin talk about
        <input class="topic" type="text" />?
    </h1>
    <div id="container"></div>
</div>
<footer>
    <nav>
        <ul>
            <li>
                <a href="#">What Is This?</a>
            </li>
            <li>
                <a href="#">Can't Find One?</a>
            </li>
            <li>
                <a href="#">Index</a>
            </li>
        </ul>
    </nav>
</footer>


{% endblock %}
