<div class="well player">
    <section class="btn-group row-fluid">
        <button class="btn btn-lg btn-default play">
            <i class="glyphicon glyphicon-play"></i>
        </button>
        <a class="btn btn-lg btn-default" data-original-title="Click to Reset" title="">{{time}}</a>
        <button class="btn btn-lg btn-default">
            <i class="glyphicon glyphicon-volume-up"></i>
        </button>
        <div class="btn btn-lg btn-default">
            <input type="range" min="0" max="1" step="0.01" value="1">
        </div>
    </section>
</div>
