{% extends "layout.html" %} {% block content %}

<div class="container">

    <h1>Index</h1>

    <section>
        <h2>A</h2>
        <ol>
            <li><a href="/entry">Katakana</a>
            </li>
            <li><a href="/entry">Cofine</a>
            </li>
            <li><a href="/entry">Spacewax Tubesys Billmed</a>
            </li>
            <li><a href="/entry">Danja</a>
            </li>
            <li><a href="/entry">Permadyne</a>
            </li>
            <li><a href="/entry">Sarasonic</a>
            </li>
            <li><a href="/entry">Zilladyne Duflex Utara</a>
            </li>
            <li><a href="/entry">Viasia, netility katakan cofine danja</a>
            </li>
            <li><a href="/entry">Qualitern</a>
            </li>
        </ol>
    </section>

    <section>
        <h2>B</h2>
        <ol>
            <li><a href="/entry">Permadyne</a>
            </li>
            <li><a href="/entry">Katakana</a>
            </li>
            <li><a href="/entry">Danja</a>
            </li>
            <li><a href="/entry">Cofine</a>
            </li>
            <li><a href="/entry">Viasia, netility katakan cofine danja</a>
            </li>
            <li><a href="/entry">Spacewax Tubesys Billmed</a>
            </li>
        </ol>
    </section>

    <section>
        <h2>C</h2>
        <ol>
            <li><a href="/entry">Katakana</a>
            </li>
            <li><a href="/entry">Cofine</a>
            </li>
            <li><a href="/entry">Spacewax Tubesys Billmed</a>
            </li>
    </section>

    <section>
        <h2>D</h2>
        <ol>
            <li><a href="/entry">Sarasonic</a>
            </li>
            <li><a href="/entry">Zilladyne Duflex Utara</a>
            </li>
            <li><a href="/entry">Viasia, netility katakan cofine danja</a>
            </li>
            <li><a href="/entry">Qualitern</a>
            </li>
        </ol>
    </section>
</div>

{% endblock %}
