{% extends "layout.html" %}

{% block body-class %}topic{% endblock %}

{% block content %}

<div class="container">

    <header>
        <h1>{{collection.topic}}</h1>
        <p class="appearances">Discussed on {{collection.appearances}} occasion{% if collection.appearances > 1 || collection.appearances == 0 %}s{% endif %} </p>
    </header>

    {% for entry in collection.data %}

    <section class="row">

        <div class="col-md-5">
            <img src="{{entry.episode.image.src}}" alt="{{entry.episode.image.alt}}" title="{{entry.episode.image.alt}}" class="img-thumbnail img-responsive" />
        </div>
        <div class="col-md-7">
            <h2>{{entry.episode.title}}</h2>
            <ul>
                {% for appearance in entry.appearances %}

                <li>
                    {% if appearance.description %}
                    <p>{{ appearance.description }}</p>
                    {% endif %}

                    <div class="clip">
                        <audio src="{{entry.episode.mediaGroups[0].contents[0].url}}" controls data-start-time="{{ Math.floor(appearance.time_start/1000) }}" data-end-time="{{ Math.floor(appearance.time_stop/1000) }}">
                            Your browser does not support the audio tag
                        </audio>
                        <span class="countdown"></span>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>

    </section>

    {% endfor %}

</div>


{% endblock %}

{% block page-scripts %}
<script src="/dist/topic.js"></script>
{% endblock %}